

<div class="container-fluid position-relative">
    <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="navbar-header" data-logobg="skin6">
                <!-- <b class="navbar-brand">Système de gestion bancaire</b> -->
                <img src="assets/flouci.png"/>
            </div>
        </nav>
    </header>

    <aside class="left-sidebar position-absolute top-0 bottom-0" data-sidebarbg="skin6">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark nav-item nav-link text-dark" 
                            routerLink="./" 
                            [routerLinkActive]="['active']" 
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="mdi mdi-view-dashboard text-dark"></i><span class="hide-menu">Home</span>
                        </a>
                    </li>
                    <!-- Other Routes -->
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark nav-item nav-link text-dark" 
                            routerLink="details" 
                            [routerLinkActive]="['active']" 
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="mdi mdi-face-man text-dark"></i><span class="hide-menu">Mes details</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark nav-item nav-link text-dark" 
                            routerLink="send" 
                            [routerLinkActive]="['active']" 
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="mdi mdi-cash text-dark"></i><span class="hide-menu">Envoyer de l'argent</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark nav-item nav-link text-dark" 
                            (click)="logout()">
                            <i class="mdi mdi-logout text-dark"></i><span class="hide-menu">Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <main class="offset-md-2">
        <alert></alert>
        <div class="pt-4">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>
