<div class="container">
    <h1>Welcome to Your Banking App!</h1>
  
    <div class="options">
      <div class="option">
        <h3>Normal User</h3>
        <img src="assets/client.png" alt="User Icon" class="user-icon">
        <p>If you are a normal user, click the button below to access your user page:</p>
        <button class="btn btn-primary btn-lg" routerLink="/user">
          <i class="fas fa-user"></i> Go to User Page
        </button>
      </div>
  
      <div class="option">
        <h3>Agent</h3>
        <img src="assets/bank.png" alt="Agent Icon" class="agent-icon">
        <p>If you are an agent, click the button below to access the dashboard:</p>
        <button class="btn btn-success btn-lg" routerLink="/dashboard">
          <i class="fas fa-chart-bar"></i> Go to Agent Dashboard
        </button>
      </div>
    </div>
  </div>
  