<div class="welcome-container">
    <h1 class="welcome-header">Bienvenue sur notre site Flouci</h1>
  
    <section class="services">
      <h2 class="section-header">Nos Services</h2>
      <ul>
        <li>Envoyer de l'argent</li>
        <li>Recevoir des paiements</li>
        <li>Consulter le solde du compte</li>
        <li>Effectuer des transactions sécurisées</li>

      </ul>
    </section>
  
    <section class="about-us">
      <h2 class="section-header">À Propos de Nous</h2>
      <p>
        Nous sommes dédiés à vous fournir une plateforme de services bancaires sécurisée, offrant simplicité et efficacité pour gérer vos transactions financières.
      </p>
    </section>
  
    <section class="contact">
      <h2 class="section-header">Nous Contacter</h2>
      <p>Pour toute question ou assistance, n'hésitez pas à nous contacter :</p>
      <p>Email: contact@flouci.rn</p>
      <p>Téléphone: +216 26237562</p>
    </section>
  </div>
  